<% @worlds.each_with_index do |w, i| %>
  <% if i==0 %>
    <div class="row"> 
      <div class="col s12 m6 l4">
        <h4><%= w.title %></h4>
        <div class="t_image_holder"><%= image_tag w.image.url(:thumb) %></div>
      </div>
  <% elsif i==1 %>
      <div class="col s12 m6 l4">
        <h4><%= w.title %></h4>
        <div class="t_image_holder"><%= image_tag w.image.url(:thumb) %></div>
      </div>
  <% elsif i==2 %>
      <div class="col s12 m6 l4">
        <h4><%= w.title %></h4>
        <div class="t_image_holder"><%= image_tag w.image.url(:thumb) %></div>
      </div>
   <% elsif i==3 %>
      <div class="col s12 m6 l4">
        <h4><%= w.title %></h4>
        <div class="t_image_holder"><%= image_tag w.image.url(:thumb) %></div>
      </div>
  <% elsif i==4 %>
      <div class="col s12 m6 l4">
        <h4><%= w.title %></h4>
        <div class="t_image_holder"><%= image_tag w.image.url(:thumb) %></div>
      </div>
   <% elsif i==5 %>
      <div class="col s12 m6 l4">
        <h4><%= w.title %></h4>
        <div class="t_image_holder"><%= image_tag w.image.url(:thumb) %></div>
      </div>
  <% end %>
<% end %>
