<h1><%= @world.title %></h1>
<h5>Difficulty: <%= @world.difficulty %></h5>
<p><em>Tip: To zoom in, use 'ctrl +' on windows or 'cmd +' on mac. To zoom out, use 'ctrl -' on windows or 'cmd -' on mac.</em></p>
<div class="divider"></div>
<div class="row">
  <div class="col l12">
    <div class='t_large_image_holder'>
      <%= render 'layouts/character_select' %>
      <%= image_tag @world.image.url, class: "world_image" %>
    </div>
  </div>
</div>
<%= debug params %> 


