<div class="row">
  <div class="col l6">
    <h1><%= @world.title %></h1>
    <h5>Difficulty: <%= @world.difficulty %></h5>
  </div>
  <div class="col l6">
    <h5>Time:</h5>
    <h2 id="waldo_timer">0</h2>
    <p>Characters to find: <% @characters.each do |c| %><%= c %> <% end %></p>
  </div>
  <div class="col l12">
    <p><em>Tip: To zoom in, use 'ctrl +' on windows or 'cmd +' on mac. To zoom out, use 'ctrl -' on windows or 'cmd -' on mac.</em></p>
  </div>
</div>
<div class="progress">
  <div class="indeterminate"></div>
</div>
<div class="divider"></div>
<div class="row">
  <div class="col l12">
    <div class='t_large_image_holder'>
      <%= render 'layouts/character_select' %>
      <%= image_tag @world.image.url, class: "world_image" %>
    </div>
  </div>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Enter your name:</h4>
    <%= render 'highscore/form', world: @world %>
  </div>
</div>

<%= link_to "Highscore", new_world_highscore_path({world_id: @world.id, time: 47}), class: "waves-effect waves-light btn" %>
<%= debug params %> 


